body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 75%;
}

form{
    display: grid;
    grid-template-columns: auto auto;
    border: thin solid black;
}
span{
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-template-rows: repeat(4,20px);
}
input[type=button]{
    grid-column: 1/3;
    padding: 1rem;
    font-size: 1.2rem;
    background-color: aliceblue;
    transition: all .7s;
}
input[type=button]:hover{
    background-color: black;
    color: aliceblue;
}
h3,h5{
    text-align: center;
}
h5{
    background-color: aquamarine;
    font-size: large;
}

form>label{
    border-right: thin solid black;
    border-bottom: thin solid black;
    padding: 1rem;
}
form>span{
    border-top: thin solid black;
    border-bottom: thin solid black;
    padding: 1rem;
}
select {
    font-size: 1.2rem;
}

select option:nth-child(2){
    color: rgba(165, 42, 42, 0.695);
    font-size: 0.9rem;
}
select option:nth-child(3){
    color: brown;
    font-size: 1rem;
}
select option:nth-child(4){
    color: rgb(255, 0, 0);
    font-size: 1.2rem;
}
form #txtKrediTutari{
    font-size: large;
}